.richtext_wrapper{
  position: relative;
  border: none !important;
  .ql-snow .ql-editor pre.ql-syntax {
    background-color: #282c34;
  }
  .ql-snow .ql-editor code{
    color: white;
    background-color: #282c34
  }
  .ql-editor code{
    color: white;
    background-color: #282c34
  }
}
